# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.git/

.config/nvim/plugin/packer_compiled.lua
.config/mpv/watch_later/

.config/old
.config/NvChad
.config/nvim/indent.log
.config/nvim/rplugin
packer_compiled.lua
lazy-lock.json

.config/nvim/*
!.config/nvim/lua/
!.config/nvim/.ignore
.config/nvim/lua/*
!.config/nvim/lua/custom/

.config/hypr/cheatsheet.md
