move_down_smooth j
move_up_smooth k
screen_down_smooth d
screen_down_smooth <space>
screen_up_smooth <S-<space>>
screen_up_smooth u
toggle_dark_mode T
goto_toc <tab>
prev_state <C-o>
next_state <C-i>
screen_down <C-d>
screen_up <C-u>
fit_to_page_width_smart <A-f>
[m]control_menu('down') <C-n>
[m]control_menu('up') <C-p>
move_left           l
move_right          h
open_document_embedded_from_current_path O
open_prev_doc o
command ;
command_palette <C-P>
reload <C-w>
visual_mark_under_cursor i
