ui_font Berkeley Mono
# page_separator_width 10
# search_highlight_color                      #fdfefe
# status_bar_color                            #a569bd   
# status_bar_text_color                       #fdfefe 
# text_highlight_color                        #fdfefe
# highlight_color_d                           #E0B0FF    
# highlight_color_c                           #91DDCF
# highlight_color_b                           #FF9874   
# highlight_color_a                           #7695FF


background_color    #1E2122
dark_mode_background_color #1E2122
status_bar_color #1E2122
custom_background_color #1E2122   
custom_color_mode_empty_background_color #1E2122

page_separator_width 15
page_separator_color	#1E2122

preserve_image_colors_in_dark_mode 0
inverted_preserved_image_colors 1
ui_selected_background_color #404344
ui_selected_text_color #C5C9C5
ui_text_color #C5C9C5
status_bar_text_color #C5C9C5
custom_text_color #C5C9C5

should_warn_about_user_key_override 0

default_dark_mode	1
new-instance 0
should_launch_new_window 0
show_statusbar_only_when_hovered 1
alphabetic_link_tags 1
